.accordion {

    &__item {
        background-color: $white;
        border: 1px solid $lighter_gray;
        border-radius: 8px;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__trigger {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        cursor: pointer;

        &.active {
            .accordion__trigger-open-status {
                &::after {
                    transform: translate(-50%, -50%) rotate(0deg);
                    transition: all .3s ease;
                }
            }
        }
    }

    &__trigger-title {
        line-height: calc(24 / 16);
    }

    &__trigger-open-status {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $black;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            height: 1px;
            background-color: $black;
            transform: translate(-50%, -50%);
            transition: all .3s ease;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__content {
        display: none;
        padding: 0 24px 24px 24px;

        p {
            color: $gray;
        }
    }
}