<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_top">
                <div class="footer_col accordion__item">
                    <div class="accordion__trigger">
                        <h5 class="footer_col__title accordion__trigger-title">Resources</h5>
                        <img class="footer_col__arrow" src="./images/arrow_down.svg" alt="arrow">
                    </div>
                    <nav class="footer_col__nav accordion__content">
                        <ul class="footer_col__nav-menu">
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Find a Store</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Nike Journal</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Become a Member</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Feedback</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Promo Codes</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_col accordion__item">
                    <div class="accordion__trigger">
                        <h5 class="footer_col__title accordion__trigger-title">Help</h5>
                        <img class="footer_col__arrow" src="./images/arrow_down.svg" alt="arrow">
                    </div>
                    <nav class="footer_col__nav accordion__content">
                        <ul class="footer_col__nav-menu">
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Get Help</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Order Status</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Shipping and Delivery</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Returns</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Payment Options</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_col accordion__item">
                    <div class="accordion__trigger">
                        <h5 class="footer_col__title accordion__trigger-title">Company</h5>
                        <img class="footer_col__arrow" src="./images/arrow_down.svg" alt="arrow">
                    </div>
                    <nav class="footer_col__nav accordion__content">
                        <ul class="footer_col__nav-menu">
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">About Nike</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">News</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Careers</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Investors</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Sustainability</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_col accordion__item">
                    <div class="accordion__trigger">
                        <h5 class="footer_col__title accordion__trigger-title">Menu</h5>
                        <img class="footer_col__arrow" src="./images/arrow_down.svg" alt="arrow">
                    </div>
                    <nav class="footer_col__nav accordion__content">
                        <ul class="footer_col__nav-menu">
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">New & Featured</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Men</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Women</a>
                            </li>
                            <li class="footer_col__menu-item">
                                <a href="#" class="footer_col__menu-link">Kids</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer_bottom">
                <p>© 2025 Nike, Inc. All rights reserved</p>
                <a href="#" target="_blank">Terms of Use</a>
                <a href="#" target="_blank">Privacy & Cookie Policy</a>
                <a href="#" target="_blank">Privacy & Cookie Setting</a>
            </div>
        </div>
    </div>
</footer>