<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <button class="header_burger" aria-label="open menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#" class="header_logo">
                <img src="./images/header_logo.svg" alt="Stellar Soft Logo">
            </a>
            <nav class="header_nav">
                <ul class="header_nav-menu">
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">New & Featured</a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Men</a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Women</a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Kids</a>
                    </li>
                </ul>
            </nav>
            <a class="header_cart" href="#cart">
                <img src="./images/cart_icon.svg" alt="cart">
            </a>
        </div>
    </div>
</header>