<div class="offer-popup" id="offerPopup">
    <div class="backdrop"></div>
    <div class="offer-popup_wrapper">
        <button type="button" aria-label="close offer popup" id="closeOfferPopup"></button>
        <div class="offer-popup_body">
            <h2 class="offer-popup_title">Here’s $10 Off Your First Order!</h2>
            <p class="offer-popup_descr">Join our newsletter and get a $10 discount code sent
                straight
                to your inbox. New customers only.</p>
            <form action="#" method="post" class="offer-popup_form form">
                <label for="mail">
                    <span>Email</span>
                    <input type="email" id="mail" name="email" placeholder="Enter email" required
                        autocomplete="email" aria-required="true">
                </label>
                <button type="submit" class="btn btn_black">Send</button>
            </form>
        </div>
        <div class="offer-popup_img">
            <img src="./images/popup_img.png" alt="image not found">
        </div>
    </div>
</div>